html {
    scroll-behavior: smooth;
}
body {
    background-color: #e6fffe;
    borded: 0px;
    padding: 0px;
}

.container {
    display: flex;
    width: 900px;
    padding: 20px;
    margin: 40px auto;
    background-color: #63A8A6;
    border-radius: 20px;

}

h1 {
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

h2 {
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

h3 {
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

p {
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

nav {
    background-color: #a5e1ea;
    padding: 5px;
    filter: drop-shadow(5px 5px 5px #302b2b);
    position: fixed;
    width: 100%;
    top: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin: 0 auto;
}

.menu-container li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

@media screen and (max-width: 576px) {
    .container {
        display: block;
        flex-direction: column-reverse;
    }
  }